.App {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
  }
  
  footer {
    text-align: center;
  }
  
  ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 5px 0;
}